/* base style */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial,Microsoft Yahei,Hiragino Sans GB,Heiti SC,WenQuanYi Micro Hei,sans-serif;
    min-width: 1226px;
    color: #333;
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

}

a{
    text-decoration: none;
    color: #333;
}
b{
    font-weight: bold;
}
.web_width{
    width: 100%;
    margin: 0 auto;
}

/* for navbar style */
/* -------------------------------------------------------- */
.navbar-container{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333;
}

.navbar-container a{
    display: block;
    color: #b0b0b0;
}

.keyword{
    color: #ff6700;
    font-size: 18px;
    float: left;
    margin-left: 50px;
}

.keyword:hover{
    font-style: italic;
    font-size: 19px;
    box-shadow: 0 0 10px rgba(255, 94, 0, 0.5);
}

.contact-us, .user, .items li{
    float: right;
    margin-right: 32px;
}

.items a:hover{
    color: #fff;
}

.items .home:hover{
    color: #ff6700;
}

.contact-us a:hover{
    color: #fff;
}

.user a:hover{
    color: #ff6700;
}


/* -------------------------------------------------------- */
/* for main-container style */
/* -------------------------------------------------------- */
.main-container {
    width: 100%;
    height: 100%;
    background-color: rgb(224, 224, 224);
    overflow: auto;
}



.navsidebar{
    width: 200px;
    height: 480px;
    position: fixed;
    padding: 20px 0;
    text-align: center;
    z-index: 999;


    /* background-color: #ff6700; */
}

.navsidebar:hover{
    background-color: #333;
    border: 2px solid #ff6700;
}

.navsidebar a{
    display: block;
    color: #b0b0b0;
}

.navsidebar .lists{
  border-top: 2px solid #ff6700;
}

.navsidebar .rule-lists{
    display: none;
    width: 150px;
    height: 500px;
    position: absolute;
    z-index: 999;
    left: 200px;
    top: 90px;

    background-color: blue;
}

.navsidebar .rule-lists ul{
    display: block;
    color: #333;
    margin: 3px 10px;
}

.rule:hover .rule-lists{
    display: block;
    z-index: 999;
}

.navsidebar .lists li a{
    display: block;
    height: 62px;
    line-height: 62px;
    z-index: 9999;
}

.navsidebar .lists li a:hover{
    color: #ff6700;
}




/* -------------------------------------------------------- */
/* for the footer-container style */
/* -------------------------------------------------------- */
.footer-container{
    position: absolute;
    height:50px;
    left: 0;
    width: 100%;
    /*height: 100%;*/
    bottom:0;
    line-height: 50px;
    background-color: #333;
}

.footer-content .info{
    float: left;
    margin-left: 30px;
}

.footer-content .info span{
    color: rgb(224, 224, 224);
}

.footer-content .imgs li{
    float: right;
    margin-right: 30px;
}
/* -------------------------------------------------------- */
