/* for the main-container style */
/* -------------------------------------------------------- */


* {
  box-sizing: border-box;
}

.nav-container{
    width: 50%;
    float: left;
    height: 80vh;
    position: relative;
}

.nav-content{
  width: 500px;
  float: right;
  right: 15vh;


/* makes div vertically center */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

}

.nav-content .sub-title{
    font-size: 33px;
    font-weight: bolder;
    color: #ff6700;
}

.nav-content .sub-title:hover{
    font-style: italic;
}

.nav-content .information{
    padding-top: 10px;
    border-top: 1px solid #333;
}

.nav-content .learn-more{
    width: 170px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    background-color: #ff6700;
}

.nav-content .learn-more a{
    display: block;
    color: #b0b0b0;
}

.nav-content .learn-more a:hover{
    color: #fff;
}

.article-container{
  width: 50%;
  float: left;
  height: 80vh;
  position: relative;
}

.article-content{
  width: 300px;
  float: left;
  left: 28vh;

/* makes div vertically center */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.article-content .cube{
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    animation: rotate 20s linear infinite;
}

.cube > div{
    width: 300px;
    height: 300px;
    opacity: .7;
    position: absolute;
}

img{
    vertical-align: top;
}

.img1{
    transform: rotateY(90deg) translateZ(150px);
}

.img2{
    transform: rotateY(-90deg) translateZ(150px);
}

.img3{
    transform: rotateX(90deg) translateZ(150px);
}

.img4{
    transform: rotateX(-90deg) translateZ(150px);
}

.img5{
    transform: rotateY(180deg) translateZ(150px);
}

.img6{
    transform: rotateY(0) translateZ(150px);
}

@keyframes rotate{
    0%{
        transform: rotateX(0) rotateZ(0);
    }

    100%{
        transform: rotateX(360deg) rotateZ(360deg);
    }
}
/* -------------------------------------------------------- */
/* For animation */
html{
    perspective: 800px;
}

/* -------------------------------------------------------- */
/* for the footer-container style */
/* -------------------------------------------------------- */
.footer-container{
    position: relative;
    height:210px;
    left: 0;
    width: 100%;
    bottom:0;
    background-color: #333;
}

.footer-content{
    width: 80%;
    left: 50%;
    transform: translateX(-50);
    text-align: center;
}

.footer-content .about-us, .follow-us, .news-events, .discover, .support{
    float: left;
}

.footer-content a{
    color: #b0b0b0;
}

.footer-content a:hover{
    color: #fff;
}

.footer-content .info{
    width:100%;
}


.footer-content .about-us, .follow-us, .news-events, .discover, .support{
    width:20%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-content span{
    font-weight: bold;
    color: #b0b0b0;
}

.footer-content ul{
    font-size: 12px;
    padding: 0;
    margin: 0;
    line-height: 0.5cm;
}

.footer-content li:first-child{
    margin-top: 10px;
}
/* -------------------------------------------------------- */
