
/* -------------------------------------------------------- */
/* for the article-container style */
/* -------------------------------------------------------- */
.article-container{
    height: 100%
}

.article-content{
    margin-left: 200px;
    width: 80%;
}

.article-content .title{
    margin-top: 30px;
    font-size: 30px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
    font-weight: bold;
}

.article-content .sub-title{
    font-size: 20px;
    font-weight: bold;
}

.article-content .main-text{
    line-height: 1cm;
}

.article-content .image-container{
    position: relative;
    display: block;
    text-align: center;
}

.article-content .image{
    width:475px;
    height:325px;
}

.article-content .image-description{
    font-size: 12px;
}

.article-content .right-side-image-container{
    float: right;

}

.article-content .hanxin-text-container{
    width:250px;
}

.article-content .centre-image-description{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#img-box{
    width: 475px;
    height: 325px;
    margin: 60px auto;
    position: relative;
    overflow: hidden;
}

#img-list{
    position: absolute;
}

#img-list li{
    float: left;
}

#btn{
    position: absolute;
    bottom: 15px;
}

#btn a{
    float: left;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #333;
    opacity: .7;
}

#btn a:hover{
    background-color: #ff6700;
}
