{% block styles %}
  {{super()}}
  <link rel="stylesheet" type="text/css" href="../static/404.css">
{% endblock styles %}

{% block content %}
  {{super()}}
    <div class="container">
        <div class="content">
            <div class="title">404</div>
            <div class="sub_title">Opps! Page not found</div>
            <div class="page">Sorry! The page can't open. The error may be used when a server does not wish to disclose whether it has the requested information.</div>
            <div class="btn">
                <a href="#">Return Home</a>
            </div>
        </div>
    </div>
{% endblock content %}