{% extends 'bootstrap/base.html' %}

{%- block head %}
    <title>{% block title %}{{ super() }}{% endblock %}</title>
    {% block metas %}
        {{ super() }}
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% endblock metas %}

    {% block styles %}
        {{ super() }}
        <link rel="stylesheet" type="text/css" href="../static/reset.css">
        <link rel="stylesheet" type="text/css" href="../static/base.css">
        <link rel="stylesheet" href="../static/toastr/toastr.css"/>
    {% endblock styles %}
{%- endblock head %}



{% block body %}
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock navbar %}
    {% block content %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock content %}
    {% block footer %}
      {% include 'footer.html' %}
    {% endblock footer %}
    {% block scripts %}
        {{ super() }}
        <script src="../static/toastr/toastr.js"></script>
        <script src="../static/toastr/toastrOption.js"></script>
    {%- endblock scripts %}
{% endblock body %}
