<div class="footer-container">
        <div class="footer-content web_width clearfix">
            <div class="about-us">
                <span>ABOUT US</span>
                <ul>
                    <li>
                        <a href="#">Chinese Chess</a>
                    </li>
                    <li>
                        <a href="#">User Agreement</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="follow-us">
                <span>FOLLOW US</span>
                <ul>
                    <li>
                        <img src="static/chess-img/facebook.png" alt="facebook">
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <img src="static/chess-img/youtube.png" alt="youtube">
                        <a href="#">Youtube</a>
                    </li>
                    <li>
                        <img src="static/chess-img/instagram.png" alt="instagram">
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <img src="static/chess-img/twitter.png" alt="twitter">
                        <a href="#">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="phone-us">
                <span class="s">+61 450 XXX XXX</span>
                <br>
                <span class="s">+61 450 YYY YYY</span>
                <br>
                <span>Monday through Friday from 8 am to 6 pm CST</span>
            </div>
        </div>
</div>