{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/general.css">
{% endblock styles %}


{% block content %}
    <div class="main-container">
        {% block sidebar %}
            {% include 'navSideBar.html' %}
        {% endblock sidebar %}



        <div class="main-content clearfix">
            <div class="profile">
                <div class="avatar">
                    <a href="#">
                        <img src="../static/chess-img/user.png" alt="user">
                    </a>
                    <div class="text">
                        Hello: {{ current_user.username}}
                    </div>
                    <div class="btn">
                        <button>My Progress</button>
                    </div>
                </div>
            </div>

            <div class="dashboard">

                <div class="text">
                    <img src="../static/chess-img/books.png" alt="books"> Overview
                </div>
                <div id="column_chart_div"></div>

                {#                <div class="dashboard-story">#}
                {##}
                {#                    <div class="text">#}
                {##}
                {#                        <a href="#">{{ user_count }}</a>#}
                {##}
                {#                        <img src="../static/chess-img/notebook.png" alt="notebook">#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="dashboard-tutorial">#}
                {#                    <div class="text">#}
                {#                        <a href="#">Tutorial</a>#}
                {#                        <img src="../static/chess-img/notes.png" alt="notes">#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="dashboard-quiz">#}
                {#                    <div class="text">#}
                {#                        <a href="#">Quiz</a>#}
                {#                        <img src="../static/chess-img/pin.png" alt="pin">#}
                {#                    </div>#}
                {#                </div>#}
                {##}
                {#                <div class="dashboard-feedback">#}
                {#                    <div class="text">#}
                {#                        <a href="#">Feedback</a>#}
                {#                        <img src="../static/chess-img/notepad.png" alt="notepad">#}
                {#                    </div>#}
                {#                </div>#}

                <br><br>
                <div class="charts">
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        Tutorial Statistics
                    </div>
                    <div id="Sarah_chart_div" class="center"></div>
                    <br><br>
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        Quiz Statistics
                    </div>
                    <table class="center">
                        <tr>
                            <td>
                                <div id="Anthony_chart_div"></div>
                            </td>
                            <td>
                                <div id="barchart_div"></div>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        Website Traffic statistics
                    </div>
                    <div id="calendar_basic" class="center"></div>
                </div>

            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(".btn button").click(function () {
            window.location.href = "{{url_for('main.user_view')}}"
        })

        var user_count =
        {{ user_count }}
        var question_count =
        {{ question_count }}
        var tutorial_count =
        {{ tutorial_count }}
        var tutorial_average_time =
        {{ tutorial_average_time|tojson }}
        var proportions =
        {{ proportions|tojson }}
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/general.js"></script>

{% endblock scripts %}
