
{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/general.css">
{% endblock styles %}


{% block content %}
    <div class="main-container">
        <div class="main-content clearfix">
            <div class="bar">
                <div class="user-info">
                    <img src="../static/chess-img/owl.png" alt="owl">
                    TempUser_123_d / <a href="#">Login</a>
                </div>
                <ul>
                    <li class="li">OVERVIEW</li>
                    <li class="li">INTERFACE</li>
                    <li><img src="../static/chess-img/settings.png" alt="settings"><a href="#">Components</a></li>
                    <li><img src="../static/chess-img/network.png" alt="network"><a href="#">Utilities</a></li>
                    <li class="li">ADDONS</li>
                    <li><img src="../static/chess-img/folder.png" alt="folder"><a href="#">Pages</a></li>
                    <li><img src="../static/chess-img/paper-plane.png" alt="paper-plane"><a href="#">Charts</a></li>
                    <li><img src="../static/chess-img/share.png" alt="share"><a href="#">Setting</a></li>
                </ul>

            </div>
        

            <div class="dashboard">
                <div class="text">
                    <img src="../static/chess-img/books.png" alt="books"> Overview
                </div>

                <div class="dashboard-story">
                    <div class="text">
                        <a href="#">Story</a> 
                        <img src="../static/chess-img/notebook.png" alt="notebook">
                    </div>
                </div>

                <div class="dashboard-tutorial">
                    <div class="text">
                        <a href="#">Tutorial</a> 
                        <img src="../static/chess-img/notes.png" alt="notes">
                    </div>
                </div>

                <div class="dashboard-quiz">
                    <div class="text">
                        <a href="#">Quiz</a> 
                        <img src="../static/chess-img/pin.png" alt="pin">
                    </div>
                </div>

                <div class="dashboard-feedback">
                    <div class="text">
                        <a href="#">Feedback</a> 
                        <img src="../static/chess-img/notepad.png" alt="notepad">
                    </div>
                </div>

                <br><br>
                <div class="charts">
                    
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        History - Passing Rates
                    </div>
                    <div id="Sarah_chart_div"></div>
                    <br><br>
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        Questionnaire
                    </div>
                    <div id="Anthony_chart_div"></div>
                    <div id="calendar_basic"></div>
                </div>

            </div>
        </div>    
    </div>
    {% block scripts %}
        {{ super() }}
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script type="text/javascript" src="../static/general.js"></script> 

    {% endblock scripts %}
{% endblock content %}