<div class="footer-container">
    <div class="footer-content web_width clearfix">
        <div class="about-us">
            <span>ABOUT US</span>
            <ul>
                <li>
                    <a href="#">Chinese Chess</a>
                </li>
                <li>
                    <a href="#">User Agreement</a>
                </li>
                <li>
                    <a href="#">Privacy Policy</a>
                </li>
            </ul>
        </div>

        <div class="news-events">
            <span>News & Events</span>
            <ul>
                <li><a href="#">News</a></li>
                <li><a href="#">Events</a></li>
                <li><a href="#">Chess Live</a></li>
                <li><a href="#">Gallery</a></li>
            </ul>
        </div>

        <div class="discover">
            <span>Discover</span>
            <ul>
                <li><a href="#">Success Stories</a></li>
                <li><a href="#">Publications</a></li>
                <li><a href="#">Chess Blog</a></li>
            </ul>
        </div>

        <div class="follow-us">
            <span id="bottom">FOLLOW US</span>
            <ul>
                <li>
                    <img src="{{url_for('static', filename='chess-img/facebook.png')}}" alt="facebook">
                    <a href="#">Facebook</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='chess-img/youtube.png')}}" alt="youtube">
                    <a href="#">Youtube</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='chess-img/instagram.png')}}" alt="instagram">
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <img src="{{url_for('static', filename='chess-img/twitter.png')}}" alt="twitter">
                    <a href="#">Twitter</a>
                </li>
            </ul>
        </div>

        <div class="support">
            <span>Support</span>
            <ul>
                <li><a href="#">Consumer Support</a></li>
                <li><a href="#">Chess Support</a></li>
                <li><a href="#">IT Support</a></li>
                <li><a href="#">Security Bulletins</a></li>
            </ul>
        </div>
        <div class="info">
          <span>©2021 Chinese Chess Co., Ltd.</span>
        </div>

    </div>
</div>
