<div class="navbar-container">
        <div class="navbar-content web_width clearfix">
            <div class="keyword">XiangQi / Chinese Chess</div>

            <ul class="contact-us">
                <li><a href="#">Contact Us</a></li>
            </ul>
            <ul class="user">
                <li><a href="loginAndRegister">Login/Register</a></li>
            </ul>
            <ul class="items">
                <li>
                    <a href="#">Game</a>
                </li>
                <li>
                    <a href="#">Quiz</a>
                </li>
                <li>
                    <a href="/rule">Rule</a>
                </li>
                <li>
                    <a href="#">Story</a>
                </li>
                <li>
                    <a class="home" href="/home">HOME</a>
                </li>
            </ul>
        </div>
    </div>
