<div class="navbar-container">
    <div class="navbar-content web_width clearfix">
        <div class="keyword">XiangQi / Chinese Chess</div>

        <ul class="contact-us">
            <li><a href="#bottom">Contact Us</a></li>
        </ul>
        <ul class="user">

            <li>
                {% if current_user.is_anonymous %}
                    <a href="{{ url_for('auth.login_and_register') }}">Login/Register</a>
                {% else %}
                    <a href="{{ url_for('auth.logout') }}">{{ current_user.username }}_Logout</a>
                {% endif %}

            </li>
        </ul>
        <ul class="items">
            <li>
                <a href="#">General</a>
            </li>
            <li>
                <a href="{{ url_for('main.questions_info') }}">Quiz</a>
            </li>
            <li>
                <a href="{{ url_for('main.tutorials') }}">Tutorial</a>
            </li>
            <li>
                <a href="{{url_for('main.story')}}">Story</a>
            </li>
            <li>
                <a class="home" href="{{ url_for('main.index') }}">HOME</a>
            </li>
        </ul>
    </div>
</div>
