<!-- side navigation bar -->
<div class="navsidebar-container web_width clearfix">
    <div class="navsidebar-content">
        <div class="target"><img src="../static/chess-img/target.png" alt="view of target"></div>
        <ul class="lists">
            <li>
                <a href="#">Game</a>
            </li>
            <li>
                <a href="#">Quiz</a>
            </li>
            <li>
                <a href="{{ url_for('main.tutorial') }}">Rule</a>
            </li>
            <li>
                <a href="#">Story</a>
            </li>
            <li>
                <a class="home" href="{{ url_for('main.index') }}">HOME</a>
            </li>
        </ul>
    </div>
</div>
