{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/quiz.css">
{% endblock styles %}


{% block content %}
<div class="main-container">

    <div class="article-container">
        {% block sidebar %}
            {% include 'navSideBar.html' %}
        {% endblock sidebar %}
        <div class="article-content web_width clearfix">
            {% block message %}
                {{ super() }}
            {% endblock message %}
            <div class="box-cover">
                <span>Begin: Chinese Chess Quiz: Start your Quiz now</span>
                <div class="box">
                    <form action="{{ url_for('main.submit_questions') }}" method="post">
                        <div class="content">
                            <span class="title">Start your Quiz now:</span>
                            <br><br>
                            <span>Testing five multiple-choice questions. Try your best!</span>
                            <br><br>
                            <div class="quiz-box">

                                {% for q in selected_questions %}
                                    <p>{{ q.QuestionLog.current_question_num }}.{{ q.Question.body }}</p>
                                    <input type="radio" name="{{ q.QuestionLog.id }}" value="" id="E{{ q.QuestionLog.id }}" checked hidden>
                                    <input type="radio"
                                           name="{{ q.QuestionLog.id }}" value="{{ q.Question.option_one }}"
                                           id="A{{ q.QuestionLog.id }}">
                                    <label>{{ q.Question.option_one }}</label><br>
                                    <input type="radio"
                                           name="{{ q.QuestionLog.id }}" value="{{ q.Question.option_two }}"
                                           id="B{{ q.QuestionLog.id }}">
                                    <label> {{ q.Question.option_two }}</label><br>
                                    <input type="radio"
                                           name="{{ q.QuestionLog.id }}" value="{{ q.Question.option_three }}"
                                           id="C{{ q.QuestionLog.id }}">
                                    <label>{{ q.Question.option_three }}</label><br>
                                    <input type="radio"
                                           name="{{ q.QuestionLog.id }}" value="{{ q.Question.option_four }}"
                                           id="D{{ q.QuestionLog.id }}">
                                    <label>{{ q.Question.option_four }}</label><br><br>
                                {% endfor %}

                            </div>
                            <br><br>
                            <span>Click <span
                                    class="b">Submit</span> to submit: Chinese Chess Quiz: Arguments. Click <span
                                    class="b">Cancel</span> to go back.</span>
                        </div>
                        <button type="submit" class="submit" id="submit">Submit</button>
                    </form>
                    <button class="cancel" id="cancel" onclick="window.location.href='{{ url_for('main.index') }}'">
                        Cancel
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script>
        var Server = {
            quiz_id:{{ quiz_id }}
        }
        var selected_questions = []
        {% for q in selected_questions %}
            quest = {
                id: "{{ q.QuestionLog.id }}",
                selected_answer: "{{q.QuestionLog.selected_answer}}",
                option_one: "{{ q.Question.option_one }}",
                option_two: "{{ q.Question.option_two }}",
                option_three: "{{ q.Question.option_three }}",
                option_four: "{{ q.Question.option_four }}"
            }
            selected_questions.push(quest)
        {% endfor %}
    </script>
    <script src="../static/quiz.js"></script>
    <script src="../static/navSideBar.js"></script>
{% endblock scripts %}
