{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/quiz-feedback.css">
{% endblock styles %}


{% block content %}
    <div class="main-container">
        {% block sidebar %}
            {{super()}}
        {% endblock sidebar %}
        <div class="main-content web_width clearfix">
            <div class="feedback-box">
                <div class="title">
                    Review Quiz Submission: Chinese Chess Quizzes
                </div>

                <div class="table">
                    <table>
                        <tr>
                            <td>User</td>
                            <td id="username">{{ current_user.username }}</td>
                        </tr>

                        <tr>
                            <td>Quiz</td>
                            <td>Chinese Chess Quiz</td>
                        </tr>

                        <tr>
                            <td>Started</td>
                            <td>{{ quiz.start_question_time.strftime("%d %b  %Y, %H:%M:%S") }}</td>
                        </tr>

                        <tr>
                            <td>Submitted</td>
                            <td>{{ quiz.last_question_edit_time.strftime("%d %b  %Y, %H:%M:%S") }}</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td>Completed</td>
                        </tr>

                        <tr>
                            <td>Attempt Score</td>
                            <td>{{ quiz.total_score }} out of 100.0 points</td>
                        </tr>

                        <tr>
                            <td>Results</td>
                            <td>Submitted Answer, Correct Answer, Feedback, Incorrectly Answer Questions</td>
                        </tr>
                    </table>
                </div>
                {% for selected_question in selected_questions %}
                    <div class="q_1">
                        <div class="num_of_question">
                            Question {{ selected_question.QuestionLog.current_question_num }}
                        </div>

                        <div class="num_of_points">

                            {% if selected_question.QuestionLog.correct == 1 %}
                                {{ selected_question.QuestionAnswer.score }}
                            {% else %}
                                0
                            {% endif %}


                                out of {{ selected_question.QuestionAnswer.score }} points
                        </div>

                        <div class="details">
                            <div class="display">
                                {{ selected_question.QuestionLog.current_question_num }}.{{ selected_question.Question.body }}
                            </div>

                            <div class="selected_answer">
                                Selected Answer: {{ selected_question.QuestionLog.selected_answer }}
                                {% if selected_question.QuestionLog.selected_answer == selected_question.QuestionAnswer.answer %}
                                    <img src="../static/chess-img/success.png" alt="success">
                                {% else %}
                                    <img src="../static/chess-img/error.png" alt="error">
                                {% endif %}
                            </div>

                            <div class="answers">
                                Answers:
                                <ul class="answer_list">

                                    <li>{{ selected_question.Question.option_one }}
                                        {% if selected_question.Question.option_one == selected_question.QuestionAnswer.answer %}
                                            <img src="../static/chess-img/success.png" alt="success"></li>
                                        {% endif %}

                                    </li>
                                    <li>{{ selected_question.Question.option_two }}
                                        {% if selected_question.Question.option_two == selected_question.QuestionAnswer.answer %}
                                            <img src="../static/chess-img/success.png" alt="success"></li>
                                        {% endif %}
                                    <li>{{ selected_question.Question.option_three }}
                                        {% if selected_question.Question.option_three == selected_question.QuestionAnswer.answer %}
                                            <img src="../static/chess-img/success.png" alt="success"></li>
                                        {% endif %}
                                    </li>

                                    <li>{{ selected_question.Question.option_four }}
                                        {% if selected_question.Question.option_four == selected_question.QuestionAnswer.answer %}
                                            <img src="../static/chess-img/success.png" alt="success"></li>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}


                <div class="btn">
                    <button onclick="window.location.href='{{ url_for('main.index') }}'">ok</button>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
{% endblock scripts %}
