{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/quiz-feedback.css">
{% endblock styles %}


{% block content %}
    <div class="main-container">
        <div class="main-content web_width clearfix">
            <div class="feedback-box">
                <div class="title">
                    Review Quiz Submission: Chinese Chess Quizzes
                </div>

                <div class="table">
                    <table>
                        <tr>
                            <td>User</td>
                            <td>{{ current_user.username }}</td>
                        </tr>

                        <tr>
                            <td>Quiz</td>
                            <td>Chinese Chess Quiz</td>
                        </tr>

                        <tr>
                            <td>Started</td>
                            <td>{{ quiz.start_assessment_time.strftime("%d %b  %Y, %H:%M:%S") }}</td>
                        </tr>

                        <tr>
                            <td>Submitted</td>
                            <td>{{ quiz.last_assessment_edit_time.strftime("%d %b  %Y, %H:%M:%S") }}</td>
                        </tr>

                        <tr>
                            <td>Status</td>
                            <td>Completed</td>
                        </tr>

                        <tr>
                            <td>Attempt Score</td>
                            <td>{{ quiz.total_score }} out of 100.0 points</td>
                        </tr>

                        <tr>
                            <td>Results</td>
                            <td>Submitted Answer, Correct Answer, Feedback, Incorrectly Answer Questions</td>
                        </tr>
                    </table>
                </div>
                {% for selected_assessment in selected_assessments %}
                    <div class="q_1">
                        <div class="num_of_question">
                            Question {{ selected_assessment.AssessmentLog.current_assessment_num }}
                        </div>

                        <div class="num_of_points">

                            {% if selected_assessment.AssessmentLog.correct == 1 %}
                                {{ selected_assessment.AssessmentAnswer.score }}
                            {% else %}
                                0
                            {% endif %}


                                out of {{ selected_assessment.AssessmentAnswer.score }} points
                        </div>

                        <div class="details">
                            <div class="display">
                                {{ selected_assessment.AssessmentLog.current_assessment_num }}.{{ selected_assessment.Assessment.body }}
                            </div>

                            <div class="selected_answer">
                                Selected Answer: {{ selected_assessment.AssessmentLog.selected_answer }}
                                {% if selected_assessment.AssessmentLog.selected_answer == selected_assessment.AssessmentAnswer.answer %}
                                    <img src="../static/chess-img/success.png">
                                {% else %}
                                    <img src="../static/chess-img/error.png">
                                {% endif %}
                            </div>

                            <div class="answers">
                                Answers:
                                <ul class="answer_list">

                                    <li>{{ selected_assessment.Assessment.option_one }}
                                        {% if selected_assessment.Assessment.option_one == selected_assessment.AssessmentAnswer.answer %}
                                            <img src="../static/chess-img/success.png"></li>
                                        {% endif %}

                                    </li>
                                    <li>{{ selected_assessment.Assessment.option_two }}
                                        {% if selected_assessment.Assessment.option_two == selected_assessment.AssessmentAnswer.answer %}
                                            <img src="../static/chess-img/success.png"></li>
                                        {% endif %}
                                    <li>{{ selected_assessment.Assessment.option_three }}
                                        {% if selected_assessment.Assessment.option_three == selected_assessment.AssessmentAnswer.answer %}
                                            <img src="../static/chess-img/success.png"></li>
                                        {% endif %}
                                    </li>

                                    <li>{{ selected_assessment.Assessment.option_four }}
                                        {% if selected_assessment.Assessment.option_four == selected_assessment.AssessmentAnswer.answer %}
                                            <img src="../static/chess-img/success.png"></li>
                                        {% endif %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endfor %}





                <div class="btn">
                    <button>ok</button>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ super() }}
    {% endblock scripts %}
{% endblock content %}