{% extends "base.html" %}

{% block head %}
    {{ super() }}
<link rel="stylesheet" type="text/css" href="../static/rule.css">
<link rel="stylesheet" type="text/css" href="../static/navSideBar.css">

{% endblock head %}

{% block content %}
<div class="main-container">
  <div class="nav-container web_width clearfix">
    {% include 'navSideBar.html' %}

    <div class="article-container">
        <div class="article-content web_width clearfix">
            <div class="title" id="top">
                <span>Learn To Play XiangQi / Chinese Chess</span>
            </div>
            <br><br><br>
            <div class="equipmet">
                <div class="sub-title">Equipment</div>
                <br>
                <span>The board is composed of 9 vertical lines (files) and 10 horizontal lines (ranks) with the pieces being played on the intersections. On each side of the board against the back edge is a palace, which is 3 by 3 lines (9 positions) with four diagonal lines that extend outward from the center forming an “X” shape. Dividing the two opposing sides of the board is a river, located between the fifth and sixth ranks. The river is often marked with the Chinese characters, 楚河 “Chǔ Hé” meaning "Chu River", and 漢界 (汉界 in simplified Chinese), “Hàn Jiè”, meaning "Han border", a reference to the Chu-Han War. Some boards have the starting points of soldiers marked with small crosses.</span>
            </div>
            <br><br><br>
            <div class="arrangment">
                <div class="sub-title">
                    <span>Arrangment</span>
                </div>
                <br>
                <span>The starting positions of the pieces are arranged as shown below.</span>
                <br><br>
                <img src="../static/chess-img/chess-qipan.img.gif" alt="view of qipan">
            </div>
            <br><br><br>
            <div class="pieces">
                <div class="sub-title">
                    <span>Pieces</span>
                </div>
                <br>
                <span>The playing pieces are indicated by Chinese characters. The same ranking pieces sometimes have different characters for each side and sometimes are written in either traditional or Chinese characters. The pieces are identified below by English name, Chinese pronunciation, traditional Chinese character, simplified Chinese character if it is different, and then the character variation.</span>
                <div class="bingmove">
                    <div class="bing1">
                        <img src="../static/chess-img/chess-bing.gif" alt="bing1">
                    </div>
                    <div class="bing2">
                        <img src="../static/chess-img/chess-bingzi4.png" alt="bing2">
                    </div>
                    <div class="bing3">
                        <img src="../static/chess-img/chess-bingzi4.png" alt="bing3">
                    </div>
                </div>
                <span class="spanbing">Soldiers move and capture by advancing one point forward. Once a pawn has crossed the river it may also move and capture one point horizontally. A pawn may never move backward, thus retreating.</span>
                <div class="paomove">
                    <div class="pao1">
                        <img src="../static/chess-img/chess-pao.gif" alt="pao1">
                    </div>
                    <div class="pao2">
                        <img src="../static/chess-img/chess-paozi4.png" alt="pao2">
                    </div>
                    <div class="pao3">
                        <img src="../static/chess-img/chess-paozi4.png" alt="pao3">
                    </div>
                </div>
                <span>Cannons move exactly like the chariot. To capture, however, a cannon must jump over exactly one piece, friend or foe, along its line of movement.</span>
                <div class="chemove">
                    <div class="che1">
                        <img src="../static/chess-img/chess-che.gif" alt="che1">
                    </div>
                    <div class="che2">
                        <img src="../static/chess-img/chess-chezi4.png" alt="che2">
                    </div>
                    <div class="che3">
                        <img src="../static/chess-img/chess-chezi4.png" alt="che3">
                    </div>
                </div>
                <span>Chariots move similarly to the rooks in international chess. The chariot moves as many points as it wishes horizontally or vertically. It cannot jump over pieces in its path.</span>
                <div class="shuaimove">
                    <div class="shuai1">
                        <img src="../static/chess-img/chess-shuai.gif" alt="shuai1">
                    </div>
                    <div class="shuai2">
                        <img src="../static/chess-img/chess-shuaizi4.png" alt="shuai2">
                    </div>
                    <div class="shuai3">
                        <img src="../static/chess-img/chess-shuaizi4.png" alt="shuai3">
                    </div>
                </div>
                <span>Generals may move one point either vertically or horizontally, but not diagonally and is confined to the nine points within his palace. A general may not also move into a file, which is occupied by the enemy general, unless there is at least one piece positioned between the generals in the file.</span>
                <div class="shimove">
                    <div class="shi1">
                        <img src="../static/chess-img/chess-shi.gif" alt="shi1">
                    </div>
                    <div class="shi2">
                        <img src="../static/chess-img/chess-shizi4.png" alt="shi2">
                    </div>
                    <div class="shi3">
                        <img src="../static/chess-img/chess-shizi4.png" alt="shi3">
                    </div>
                </div>
                <span>These are the king’s counselors and guard the king within the palace. The guard moves one point diagonally and is confined to the palace.</span>
                <div class="xiangmove">
                    <div class="xiang1">
                        <img src="../static/chess-img/chess-xiang.gif" alt="xiang1">
                    </div>
                    <div class="xiang2">
                        <img src="../static/chess-img/chess-xiangzi4.png" alt="xiang2">
                    </div>
                    <div class="xiang3">
                        <img src="../static/chess-img/chess-xiangzi4.png" alt="xiang3">
                    </div>
                </div>
                <span>The elephants move exactly two points in any diagonal direction and may not jump over intervening pieces or cross the river.</span>
                <div class="mamove">
                    <div class="ma1">
                        <img src="../static/chess-img/chess-ma.gif" alt="ma1">
                    </div>
                    <div class="ma2">
                        <img src="../static/chess-img/chess-mazi4.png" alt="ma2">
                    </div>
                    <div class="ma3">
                        <img src="../static/chess-img/chess-mazi4.png" alt="ma3">
                    </div>
                    <div class="ma4">
                        <img src="../static/chess-img/chess-mazi4.png" alt="ma4">
                    </div>
                </div>
                <span class="s1">The horse moves one point horizontally or vertically, and then one point diagonally. It cannot move in a direction where there is a piece blocking it along the path of movement.</span>
            </div>
            <div class="gameplay">
                <div class="sub-title">
                    <span>Gameplay</span>
                </div>
                <br>
                <span>Each side alternates, moving one piece in each turn. Pieces capture by using their normal moves and landing on a point occupied by an enemy piece. Generally, red makes the first move but two players can agree to play otherwise.
                    <br><br>
                    Victory is achieved when one player puts the other’s general in checkmate. Checkmate is when the other player’s general is left with no option but to be captured in the next move. When the player’s general is in danger of being captured on the next move, that general is in check, “Jiāng” 將/将，and the player threatening capture announces it.
                    <br><br>
                    If a player forces the other player to repeat a move by repeating his move a second time, he must break the cycle with a different move on his next turn.
                    <br><br>
                    If a player checks the other player three times in a row in a way that repeats their positions, the checked player must forfeit.</span>
            </div>
            <br><br><br>
            <div class="bottom">
                <a href="#top">Go to Top!</a>
            </div>
            <br><br>
        </div>
    </div>
  </div>
</div>
{% endblock content %}
