<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/reset.css">
    <link rel="stylesheet" href="../static/base.css">
    <link rel="stylesheet" href="../static/rule1.css">
</head>
<body>
    <div class="navbar-container">
        <div class="navbar-content web_width">
            <div class="keyword">XiangQi / Chinese Chess</div>
            
            <ul class="contact-us">
                <li><a href="#fu">Contact Us</a></li>
            </ul>
            <ul class="user">
                <li><a href="../templates/loginAndRegister.html">Login/Register</a></li>
            </ul>
            <ul class="items">
                <li>
                    <a href="#">Game</a>
                </li>
                <li>
                    <a href="#">Quiz</a>
                </li>
                <li>
                    <a href="../templates/rule1.html">Rule</a>
                </li>
                <li>
                    <a href="#">Story</a>
                </li>
                <li>
                    <a class="home" href="../templates/index.html">HOME</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="main-container">
        <div class="navsidebar-container web_width clearfix">
            <div class="navsidebar-content">
                <div class="target"><img src="../static/chess-img/target.png" alt="view of target"></div>
                <ul class="lists">
                    <li><a href="../templates/index.html">Home</a></li>
                    <li><a href="#">Story</a></li>
                    <li><a href="../templates/rule1.html">Rule</a></li>
                    <li><a href="#">Quiz</a></li>
                    <li><a href="#">Game</a></li>
                    <li><a href="../templates/index.html">Contact Us</a></li>
                </ul>
            </div>
        </div>

        <div class="article-container">
            <div class="article-content web_width clearfix">
                <div class="box-cover">
                    <span>Learn To Play XiangQi / Chinese Chess</span>
                    <div class="box">
                        <div class="content">
                            <span class="title">Learn To Play XiangQi / Chinese Chess</span>
                            <br><br>
                            <span class="sub-title">Brief Information</span>
                            <br><br>
                            <span>The board is composed of 9 vertical lines (files) and 10 horizontal lines (ranks) with the pieces being played on the intersections. On each side of the board against the back edge is a palace, which is 3 by 3 lines (9 positions) with four diagonal lines that extend outward from the center forming an “X” shape. Dividing the two opposing sides of the board is a river, located between the fifth and sixth ranks. The river is often marked with the Chinese characters, 楚河 “Chǔ Hé” meaning "Chu River", and 漢界 (汉界 in simplified Chinese), “Hàn Jiè”, meaning "Han border", a reference to the Chu-Han War. Some boards have the starting points of soldiers marked with small crosses.</span>
                            <br><br>
                            <span class="sub-title">Arrangment</span>
                            <br><br>
                            <span>The starting positions of the pieces are arranged as shown below.</span>
                            <br><br>
                            <img src="../static/chess-img/chess-qipan.img.gif" alt="view of qipan">
                            <br><br>
                            <div class="quiz-box">
                                <span class="sub-title">Test Yourself With Exercises</span>
                                <br><br>
                                <span>Q. There are totally 32 pieces.</span>
                                <br><br>
                                <form action="">
                                    <input type="checkbox" name="answer" id="t" value="True">True
                                    <br><br>
                                    <input type="checkbox" name="answer" id="f" value="False">False
                                    <br><br>
                                    <input type="button" id="submit" value="Submit">
                                    <input type="button" id="show" value="Show Answer">
                                </form>
    
                                <div class="show-answer display">
                                    <span>True! One side are 16 pieces, and totally 32 pieces.</span>
                                    <br>
                                    <form action="">
                                        <input type="button" id="hide" value="Hide Answer">
                                    </form>
                                </div>
                        </div>
                        </div>
                        <button class="pre" id="pre">Pre</button>
                        <button class="next" id="next">Next</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer-container">
        <div class="footer-content web_width clearfix">
            <div class="about-us">
                <span>ABOUT US</span>
                <ul>
                    <li>
                        <a href="#">Chinese Chess</a>
                    </li>
                    <li>
                        <a href="#">User Agreement</a>
                    </li>
                    <li>
                        <a href="#">Privacy Policy</a>
                    </li>
                </ul>
            </div>
            <div class="follow-us">
                <span id="fu">FOLLOW US</span>
                <ul>
                    <li>
                        <img src="../static/chess-img/facebook.png" alt="facebook">
                        <a href="#">Facebook</a>
                    </li>
                    <li>
                        <img src="../static/chess-img/youtube.png" alt="youtube">
                        <a href="#">Youtube</a>
                    </li>
                    <li>
                        <img src="../static/chess-img/instagram.png" alt="instagram">
                        <a href="#">Instagram</a>
                    </li>
                    <li>
                        <img src="../static/chess-img/twitter.png" alt="twitter">
                        <a href="#">Twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="../static/rule1.js"></script>
</body>
</html>