{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/tutorial.css">
{% endblock styles %}


{% block content %}
    <div class="main-container">
        {% include 'navSideBar.html' %}
        <div class="article-container web_width clearfix">
            <div class="article-content" id="article-content">
                <div class="box-cover" id="box-cover">
                    <span>Learn To Play XiangQi / Chinese Chess</span>
                    <div class="box" id="box">
                        <div class="content" id="content">
                            <span class="title">Learn To Play XiangQi / Chinese Chess</span>
                            <br><br>
                            <span class="sub-title" id="title">{{ current_tutorial.title }}</span>
                            <br><br>
                            <span id="main_content">{{ current_tutorial.main_content }}</span>
                            <br><br>
                            <span class="sub-title" id="subtitle">{{ current_tutorial.subtitle }}</span>
                            <br><br>
                            <span id="extra_content">{{ current_tutorial.extra_content }}</span>
                            <br><br>
                            <img id="img_url" src="{{ current_tutorial.img_url }}" alt="view of qipan">
                            <br><br>
                            <div class="quiz-box">
                                <span class="sub-title">Test Yourself With Exercises</span>
                                <br><br>
                                Q.<span id="question_title"> {{ current_tutorial.question_title }}</span>
                                <br><br>
                                <form action="">
                                    <input type="checkbox" name="answer" id="t" value="True">True
                                    <br><br>
                                    <input type="checkbox" name="answer" id="f" value="False">False
                                    <br><br>
                                    <input type="button" id="submit" value="Submit">
                                    <input type="button" id="show" value="Show Hint">
                                </form>

                                <div class="show-answer display">
                                    <span id="hint">{{ current_tutorial.hint }}</span>
                                    <br>
                                    <form action="">
                                        <input type="button" id="hide" value="Hide Hint">
                                    </form>
                                </div>
                            </div>
                        </div>
                        <button class="pre" id="pre" onclick="getAnotherTutorial(false)">Pre
                        </button>
                        <button class="next" id="next" onclick="getAnotherTutorial(true)">Next
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block scripts %}
        {{ super() }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script type="text/javascript">
            var Server = {
                tutorial_id:{{ current_tutorial.id|tojson }}
            };
        </script>
        <script src="../static/tutorial.js"></script>

    {% endblock scripts %}
{% endblock content %}
