{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static', filename='tutorial.css')}}">
{% endblock styles %}


{% block content %}
    <div class="main-container">

        <div class="article-container web_width clearfix">

            {% block sidebar %}
                {{super()}}
            {% endblock sidebar %}
            <!-- <div class="darkBackground-overlay"></div> -->

            <div class="article-content" id="article-content">
                {% block message %}
                    {{super()}}
                {% endblock message %}
                <div class="box-cover" id="box-cover">
                    <span>Learn To Play XiangQi / Chinese Chess</span>
                    <div class="box" id="box">
                        <div class="content" id="content">

                            <!-- CAN PUT THIS IN A SEPARATE HTML DOC WHEN THE LINK IS DONE -->
                            <nav class="paginWrapper">
                                <nav class="pagination">

                                    <!-- needs to set add class currentPage if it is the current page -->
                                    <a class="firstLast" id="firstLast" onclick="getAnotherTutorial(1)">&lt;&lt;</a>
                                    <a class="pre" id="pre" onclick="getAnotherTutorial('pre')">&lt; Pre
                                    </a>
                                    {% for tutorial_num in range(1,tutorial_count+1) %}
                                        <a class="numberPagin" id="numberPagin_{{ tutorial_num }}"
                                           onclick="getAnotherTutorial({{ tutorial_num }})">{{ tutorial_num }}</a>
                                    {% endfor %}
                                    <a class="next" id="next" onclick="getAnotherTutorial('next')">Next &gt;
                                    </a>
                                    <a class="firstLast" id="firstLast"
                                       onclick="getAnotherTutorial({{ tutorial_count }})">&gt;&gt;</a>
                                </nav>
                            </nav>
                            <br><br>
                            <span class="title">Learn To Play XiangQi / Chinese Chess</span>
                            <br><br>
                            <span class="sub-title" id="title">{{ current_tutorial.title }}</span>
                            <br><br>
                            <span id="main_content">{{ current_tutorial.main_content }}</span>
                            <br><br>
                            <span class="sub-title" id="subtitle">{{ current_tutorial.subtitle }}</span>
                            <br><br>
                            <span id="extra_content">{{ current_tutorial.extra_content }}</span>
                            <br><br>
                            <img id="img_url" src="{{ current_tutorial.img_url }}" alt="view of qipan">
                            <br><br>
                            <div class="quiz-box">
                                <span class="sub-title">Test Yourself With Exercises</span>
                                <br><br>
                                Q.<span id="question_title"> {{ current_tutorial.question_title }}</span>
                                <br><br>
                                <input type="radio" name="answer" value=0>True<br>
                                <input type="radio" name="answer" value=1>False<br>

                                <button id="show" name="show">Show Hint</button>

                                <div class="show-answer display">
                                    <span id="hint">{{ current_tutorial.hint }}</span>
                                    <br>
                                    <input type="button" id="hide" value="Hide Hint">
                                </div>
                            </div>
                        </div>
                        <nav class="paginWrapper">
                            <nav class="pagination">

                                <!-- needs to set add class currentPage if it is the current page -->
                                <a class="firstLast" id="firstLast" onclick="getAnotherTutorial(1)">&lt;&lt;</a>
                                <a class="pre" id="pre" onclick="getAnotherTutorial('pre')">&lt; Pre
                                </a>
                                {% for tutorial_num in range(1,tutorial_count+1) %}
                                    <a class="numberPagin" id="numberPagin_{{ tutorial_num }}"
                                       onclick="getAnotherTutorial({{ tutorial_num }})">{{ tutorial_num }}</a>
                                {% endfor %}
                                <a class="next" id="next" onclick="getAnotherTutorial('next')">Next &gt;
                                </a>
                                <a class="firstLast" id="firstLast" onclick="getAnotherTutorial({{ tutorial_count }})">&gt;&gt;</a>
                            </nav>
                        </nav>

                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript">
        var Server = {
            tutorial_num:{{ current_tutorial.tutorial_num|tojson }},
            answer: {{ current_tutorial.answer|tojson }},
            tutorial_count:{{ tutorial_count|tojson }}
        };
    </script>
    <script src="{{url_for('static', filename='tutorial.js')}}"></script>

{% endblock scripts %}
