{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/user.css">
{% endblock styles %}


{% block content %}
    <div class="main-container">
        {% block sidebar %}
            {% include 'navSideBar.html' %}
        {% endblock sidebar %}

        <div class="main-content clearfix">
            <div class="dashboard">
                <div class="text">
                    <img src="../static/chess-img/books.png" alt="books"> Overview
                </div>

                <div class="dashboard-progress">
                    <div class="text">
                        <a href="#my-progress">My Tutorial Progress</a>
                        <img src="../static/chess-img/notebook.png" alt="notebook">

                    </div>
                </div>


                <div class="dashboard-feedback">
                    <div class="text">
                        <a href="#quizDiv">My Quiz Feedback</a>
                        <img src="../static/chess-img/notepad.png" alt="notepad">
                    </div>
                </div>

                <br><br><br><br><br><br><br>
                <div id="my-progress" class="charts">
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        My Tutorial Progress
                    </div>
                    <div id="tute_chart_div" class="center"></div>

                    <br><br>
                    <div class="text">
                        <img src="../static/chess-img/notepad.png" alt="notepad">
                        My Quiz Feedback
                    </div>
                    <div class="quizDiv" id="quizDiv">
                        {% if not quizzes %}
                           You haven't done any quizzes yet!
                        {% else %}
                            <ul>
                                {% for quiz in quizzes %}
                                    {% if quiz.status == 0 %}
                                        <li>You have unfinished quiz, click<a
                                                href="{{ url_for('main.questions_info') }}"> here </a>to
                                            continue!
                                        </li>
                                        <br>
                                    {% else %}
                                        <li>see quiz feedback: <a
                                                href="{{ url_for('main.selected_quiz', quiz_id=quiz.id) }}">{{ quiz.last_question_edit_time.strftime("%d %b  %Y, %H:%M:%S") }}</a>
                                            score: {{ quiz.total_score }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>


                    <br><br>
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        My Quiz Progress
                    </div>

                    <div id="Sarah_chart_div" class="center"></div>
                    <br><br>
                    <div class="text">
                        <img src="../static/chess-img/books.png" alt="books">
                        Quiz Statistics
                    </div>
                    <table class="center">
                        <tr>
                            <td>
                                <div id="Anthony_chart_div"></div>
                            </td>
                            <td>
                                <div id="barchart_div"></div>
                            </td>
                        </tr>
                    </table>
                    <br><br>
                </div>
                <br><br><br><br>

            </div>
        </div>
    </div>
{% endblock content %}
{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var None = null;  //score value will become None when quiz is not completed
        var data = [];
        var QuizIDArray = [];
        var tutorialProgress = {{current_tutorial.id}};
        {% for content in quizzes %}
            var single = {{content.total_score}};
            data.push(single);
            QuizIDArray.push({{content.id}});
        {% endfor %}
        console.log(data.length);
        var resultTempURL = "{{url_for('main.selected_quiz', quiz_id="")}}";
        var quizURL = "{{url_for('main.questions_info')}}"; //URL TO START FIRST QUIZ!
        var tuteURL = "{{url_for('main.tutorials')}}"
    </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="../static/user.js"></script>
    <script type="text/javascript">


        changeAIfIncomplete('{{url_for('main.questions')}}');
    </script>
{% endblock scripts %}
